* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
input,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

main {
  width: 100%;
}

main .container {
  margin: 0 auto;
  display: flex;
  height: 100vh;
}

.container .left-content {
  background-color: rgb(248, 248, 248);
  min-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

@media(max-height: 768px) {
  .container .left-content {
    gap: 40px;
    height: 100%;
  }
}

.container .left-content .top-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.top-side .logo {
  margin: 10px 0 50px;
}

.top-side .logo svg {
  width: 100px;
}

.top-side h1 {
  text-align: center;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 400;
}

.top-side .input {
  width: 100%;
  background: rgb(240, 240, 240);
  position: relative;
  border: solid 2px rgb(240, 240, 240);
  border-radius: 5px;
  cursor: text;
  transition: all 200ms ease-in-out;
}

.top-side .input:hover:not(.top-side input:valid, .input:focus-within){
  filter: brightness(95%);
}

.top-side .input:focus-within {
  border-color: #000;
  background: rgb(248, 248, 248);
  filter: brightness(100%);
}

.top-side .input label {
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 11px;
  text-transform: uppercase;
  padding-left: 10px;
  color: rgb(107, 107, 107);
  cursor: text;
  transition: all 200ms ease-in-out;
}

.top-side .input input {
  width: 100%;
  border: none;
  background: none;
  padding: 8px;
  outline: none;
  margin-top: 8px;
  font-size: 16px;
  color: #3b3a3a;
}

.input input:focus + label,
.input input:valid + label {
  font-size: 10px;
  transform: translateY(-150%);
  padding-left: 7px;
}

.top-side .links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.top-side .links .social {
  background: #fff;
  width: 100%;
  display: flex;
  place-content: center;

  border: solid 2px transparent;
  border-radius: 3px;
  padding: 5px 0;

  transition: all 200ms ease-in-out;
}

.links .social:hover {
  filter: brightness(95%);
}

.links .social.facebook {
  background: #1778F2;
}

.links .social.google {
  background: #ffffff;
  border-color: rgb(240, 240, 240);
}

.links .social.apple {
  background: #000000;
}

.links .social.apple:hover {
  filter: opacity(90%);
}

.left-content .bottom-side {
  width: 100%;
}

.left-content .bottom-side button {
  display:flex;
  place-content: center;
  background: #F8F8F8;
  border: solid 2px rgb(224, 224, 224);
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  transition: all 200ms ease-in-out;
}

.bottom-side button svg {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  fill: rgb(224, 224, 224);
}

form:valid > .bottom-side button {
  background: #D13639;
  border-color: transparent;
  cursor: pointer;
}

form:valid > .bottom-side button:hover {
 background: #bb2e31;
}

form:valid > .bottom-side button svg {
  fill: #fff;
}

.bottom-side .help {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.help a {
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b6b6b6;
}

.help a:hover {
  color: #111111;
}

.help a + a {
  color: #c7c7c7;
}

.help a + a:hover {
  filter: contrast(20%);
}

main .container .right-content {
  width: 100%;
  height: 100%;
  background-image: url("./assets/client-background.jpg");
  background-size: cover;
  background-position: 65%;
  background-repeat: no-repeat;
}

@media(max-width: 768px) {
  .container .right-content {
    display: none;
  }

  .container .left-content {
    width: 100%;
    min-width: 0;
  }
}

@media(max-width: 480px) {
  main .container {
    padding: 0px;
  }

  .container .left-content {
    background: #fff;
    padding: 40px 20px;
  }
}